<div ng-cloak ng-if="initiative.currentTotal">
    <h3>
        {{ initiative.currentTotal/500 | number:0 }}% {{ initiative.currentTotal }}/50000
    </h3>

    <p>{{ initiative.name.fill }}</p>
    <p><a href="{{ initiative.url }}">Aloite kansalaisaloite.fi:ssä</a></p>

    <div style="height: 400px">
        <initiative-chart-single initiative="initiative" ng-if="initiative.support">
            <div id="initiative-chart-fulltime" style="width: 100%; height: 400px;" spinner></div>
        </initiative-chart-single>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>Vie kannatustietoa</h4>
            <a ng-href="data:text/plain;charset=utf-8,{{ initiative.dailySupportCsv() }}" download="{{ initiative.localUrl }}.csv">
                Lataa päivittäinen kannatus csv:nä
            </a>
        </div>
        <div class="col-md-8">
            <h4>Liitä graafi sivullesi</h4>
            <pre>
    &lt;iframe
        style="border: 0; width: 100%; height: 100%;"
        src="//{{ host }}/embed.html?initiative={{ initiative.token }}"
    &gt;&lt;/iframe&gt;</pre>
        </div>
    </div>
</div>